[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.0"
django-widget-tweaks = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.paystack]
git = "https://github.com/gbozee/django-paystack.git"
ref = "master"
